@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto" Courier, monospace;
  padding: 0 40px;
}
.app {
}
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #000000;
  border-radius: 10px;
  padding: 24px;
  flex-wrap: wrap;
  width: 280px;
  height: 320px;
}

.card-img {
  width: 98px;
  height: 98px;
  border-radius: 100rem;
  background-color: #efefef;
  margin-bottom: 20px;
}
.card-name {
  margin-bottom: 16px;
}
.card-title {
  margin-bottom: 8px;
}

.card-container {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
}

/* Car project css */
.car-container {
  display: flex;
  align-items: center;
}

.car-container button {
  margin-right: 16px;
}

.btn {
  outline: none;
  border: none;
  padding: 10px 16px;
}

.btn-black {
  background-color: #000000;
  color: white;
}

.btn-red {
  border: 1px solid red;
  color: red;
}

.car-img img {
  width: 400px;
  height: auto;
  object-fit: cover;
}


/* CSS for phone store project */